.parent {
    width: 200px;
    height: 200px;
    background-color:   rgb(255, 255, 255);
    position: relative;
    margin-top: 20px;
}
.child {
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 90px;
    bottom: 0;
    right: 0;
    margin-top: 20px;

}
.container {
    width: 100px;
    height: 100px;
    background-color: rgb(64, 255, 0);
    position: absolute;
    top: 20px;
    bottom: 0;
    right: 50;
    margin-top: 20px;
}




